/* Sidebar */
.sidebar {
    width: 250px;
    transition: width 0.3s;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151616;
    color: #fff;
    overflow-x: hidden;
    padding-top: 1rem;
    z-index: 1000;
}
.sidebar.collapsed {
    width: 60px;
}
.sidebar .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.sidebar .nav-link i {
    margin-right: 10px;
    font-size: 1.2rem;
    width: 20px;
    text-align: center;
}
.sidebar.collapsed .nav-link span {
    display: none;
}
.sidebar .nav-link:hover {
    background-color: #495057;
}
.sidebar .sidebar-toggle {
    cursor: pointer;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .sidebar-toggle:hover {
    background-color: #495057;
}
.sidebar-logo img {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* Content */
.content-wrapper {
    margin-left: 250px;
    transition: margin-left 0.3s;
    padding: 2rem;
    margin-top: 40px; /* เว้นช่วงให้ filter bar */
}
.content-wrapper.collapsed {
    margin-left: 60px;
}

/* Filter bar ปรับให้เริ่มจากขอบ sidebar */
#dateFilterBar {
    position: fixed;
    top: 0;
    left: 250px; /* เริ่มหลัง sidebar ปกติ */
    width: calc(100% - 250px); /* ครอบคลุมเนื้อหาที่เหลือ */
    background-color: #ecececff;
    border-bottom: 1px solid #ccc;
    z-index: 1050;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: left 0.3s, width 0.3s; /* รองรับ sidebar collapsed */
}
#dateFilterBar .form-label {
    font-size: 0.85rem;
    font-weight: 500;
}
.sidebar.collapsed + #dateFilterBar {
    left: 60px;
    width: calc(100% - 60px);
}
/* Table */
thead th {
    font-weight: 200;      
    text-align: center;    
    padding: 15px 23px;    
    min-width: 120px;     
    white-space: nowrap;   
    font-size: 14px; 
}
table th, table td {
    text-align: center;    
    padding: 10px 15px;    
    font-size: 14px;
}
.table-responsive { width: 100%; overflow-x: auto; }